.app__navbar {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 2rem;
    background-color: #030406;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    position: fixed;
    z-index: 2;

    @media screen and (max-width : 900px) {
        padding: 0.8rem 1rem;
    }
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
        width: 90px;
        height: 20px;

    }

}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    list-style: none;

    li {
        margin: 0 1rem;
        cursor: pointer;
        flex-direction: column;

        div {
            width: 16px;
            height: 2px;
            background-color: transparent;
            border-radius: 50%;
            margin-bottom: 0px;
        }

        a {
            color: var(--gray-colorray);
            text-decoration: none;
            flex-direction: column;
            text-transform: uppercase;
            font-weight: 500;

            transition: all 0.3s ease-in-out;

            &:hover {
                color: var(--secondary-color);
            }
        }

        &:hover {
            div {
                background-color: var(--secondary-color);
            }
        }
    }

    @media screen and (max-width : 900px) {
        display: none;
    }
}

.app__navbar-menu {
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    svg {
        width: 70%;
        height: 70%;
        color: var(--black-color)
    }

    div {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 5;

        padding: 1rem;
        width: 80%;
        height: 100vh;

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        background-color: var(--white-color);
        box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);


        svg {
            width: 35px;
            height: 35px;
            color: var(--black-color);
            margin: 0.5rem 1rem;

        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;

            li {
                margin: 1rem;

                a {
                    color: var(--gray-color);
                    text-decoration: none;
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 500;

                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: var(--secondary-color);
                    }

                }
            }
        }

        @media screen and (min-width : 900px) {
            display: none;
        }
    }

    @media screen and (min-width : 900px) {
        display: none;
    }
}